@import 'common';

.top_cart {
    background-image: url(img/cart.jpeg);
    height: 400px;
}

.cart {
    display: flex;
    padding-top: 64px;

    .list__header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
    }

    &__item {
        display: flex;
        gap: 31px;
        border-top: 1px solid black;
        padding-top: 25px;
    }

    &__iamge {
        width: 173px;
        height: 173px;
    }

    &__items {
        display: flex;
        flex-direction: column;
        flex: auto;
        padding-right: 30px;
    }

    &__product-info {
        display: flex;
        flex-direction: column;
        gap: 16px;
        flex: auto;
    }

    &__product-name {
        padding-top: 0px;
    }

    &__roduct-description {
        padding: 0px;
        max-width: 276px;
    }

    &__price {
        padding: 0px;
    }

    &__action {
        text-decoration: underline;
        padding-right: 30px;
    }
}

.order {
    border-radius: $buttom-border-radius;
    background: $background-color-01;
    width: 379px;
    height: 556px;

    &__header {
        color: rgb(0, 0, 0);
        font-family: $main-font-family;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: center;
        padding-top: 42px;
    }

    &__item {
        color: rgb(0, 0, 0);
        font-family: $main-font-family;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0px;
        text-align: center;
        border-bottom: 1px solid rgb(202, 205, 216);
        text-align: left;
        margin-left: 28px;
        margin-right: 64px;
        padding-top: 35px;
        margin-bottom: 44px - 35px;
    }


    &__go {
        border-radius: 16px;
        background: rgba(222, 215, 215, 0.41);
        border: 0px;
        color: rgb(0, 0, 0);
        font-family: $main-font-family;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0%;
        text-align: center;
        width: 260px;
        height: 40px;
        padding-bottom: 18px;
        text-justify: auto;
        margin-left: 45px;
        margin-top: 18px;
    }

    &__price {
        color: rgb(0, 0, 0);
        font-family: $main-font-family;
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: center;
    }
}

.item-count {
    width: 71px;
    height: 51px;
    align-content: center;
    justify-content: center;
    background: $background-color-01;

    &__input {
        height: 50px;
        width: 47px;
        border: 0px;
        height: 27px;
        background: $background-color-01;

        color: rgb(0, 0, 0);
        font-family: Poppins;
        font-size: 14px;
        font-weight: 600;
        line-height: 210%;
        letter-spacing: 0px;
        text-align: center;
    }

    &__input::placeholder {
        background: $background-color-01;
    }
}

.order__button {
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    font-family: $main-font-family;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    width: 260px;
    height: 40px;
}