$font-name : Montserrat;
$mainWidth : 1200px;
$mainWidthPlan : 786px;
$mainWidthMob : 414px;
$button-border-radius : 20px;

/* рамка для тестирования  */
.testBorder01 {
    border: 1px red solid;
}

/* рамка для тестирования  */
.testBorder02 {
    border: 1px green solid;
}

/* рамка для тестирования  */
.testBorder03 {
    border: 1px blue solid;
}