@import 'common';
@import 'filter';

.top {
    background-image: url(./img/catalog.jpeg);
    height: auto;
}

.header__title {
    margin-top: 128px;
    margin-bottom: 40px;

}

.catalog-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.top__header {
    height: 400px;
}

.catalog-item {
    min-width: 379;
}

.catalog-menu {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    height: auto;

    &__item {
        color: rgb(0, 0, 0);
        font-family: $font-name;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0%;
        text-align: left;
    }
}



/* форматирования для планшета*/
/*#region table-version*/

@media ((max-width: $mainWidth) and (min-width:calc($mainWidthPlan + 1px))) {}

/*#endregion */

/* форматирования для мобильного устройства*/
/*#region mobile-version */
@media (max-width: $mainWidthPlan) {
    $mainWidth : 480;

    .catalog-menu {
        flex-direction: column;
        height: 100px;
        padding-top: 32px;
    }

    .filter-panel {
        flex-direction: column;
    }

    .catalog {
        margin-top: 40px;
    }

    .ddd {
        height: 50px;
    }

    .selector {
        margin: 0px;
    }
}

/*#endregion*/