@charset "UTF-8";
/* рамка для тестирования  */
.testBorder01 {
  border: 1px red solid;
}

/* рамка для тестирования  */
.testBorder02 {
  border: 1px green solid;
}

/* рамка для тестирования  */
.testBorder03 {
  border: 1px blue solid;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(15deg);
  }
}
/*сброс форматирования */
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: Montserrat;
}

a {
  text-decoration: none;
  color: white;
  transition: transform 1s;
  font-family: Montserrat;
}

.menu-ref {
  font-size: 19px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.input-default, .subscription__email, .input-search {
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  line-height: 20px;
  padding-left: 32px;
}

.button-default, .subscription__button {
  border-radius: 16px;
  background: rgba(222, 215, 215, 0.41);
}

a:hover {
  transform: scale(1.3);
  text-decoration: underline;
}

/*Выравнивание по центру экрана с отступами*/
.center, .top__header {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
  justify-content: center;
}

/*#region Верхняя часть*/
.top {
  background-image: url(./img/topImage.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 738px;
  width: 100%;
}
.header {
  background-color: transparent;
}
.header__title {
  margin-top: 63px;
}
.header__subtitle {
  margin-top: 16px;
}
.header__catalog-ref {
  padding-top: 16px;
  width: 160px;
  display: block;
}

.input-search {
  border-color: white;
  background-color: transparent;
  outline: none;
  font-size: 1rem;
  max-width: 288px;
  width: 288px;
  min-width: 100px;
  height: 41px;
  color: white;
}
.input-search::-moz-placeholder {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 1pex;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.input-search::placeholder {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 1pex;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 4rem;
  font-weight: 600;
  text-align: left;
  max-width: 792px;
  line-height: 68px;
}

.subtitle {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_common, .navbar-mobile, .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  visibility: visible;
  line-height: 60%;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.navbar-mobile {
  padding-top: 32px;
  display: none;
}

.top-search {
  border-radius: 20px;
  padding: 30px;
  height: 41px;
  min-width: 200px;
}

.top-logo {
  background-image: url("/img/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
}

.cart-mobile {
  background-image: url(./img/catalog.svg);
  background-repeat: repeat;
  background-repeat: space;
  width: 16px;
  height: 16px;
}

.bottom {
  height: 200px;
  max-width: 100%;
}
.bottom__footer {
  display: flex;
}

/*#endregion*/
/*#region Содержимое*/
.special-offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
}

/* #region Карточка продукта*/
.content-caption {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  line-height: 59px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 32px;
  padding-top: 0px;
}

.product-list {
  /*display: flex;
   flex-wrap: wrap;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

.product {
  max-width: 379px;
}

.product:hover {
  animation: rotate 2s infinite;
}

.product-image {
  image-rendering: auto;
  width: auto;
}

.product-name {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 10px;
}

.product-description {
  color: rgb(136, 136, 136);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 9px;
}

.price-block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 12px;
}

.price {
  color: rgb(5, 5, 5);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}

.old-price {
  color: rgb(136, 136, 136);
  text-decoration-line: line-through;
}

/* #region */
.price::after {
  content: " руб.";
}

.bottom-link {
  display: block;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  width: 160px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  padding-top: 35px;
  padding-bottom: 64px;
}

/*#region footer */
.bottom {
  min-height: 206px;
  background: rgb(247, 246, 246);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 42px;
  padding-top: 32px;
}

.footer-logo {
  width: 198;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-menu-header {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}

.footer-menu-item {
  color: rgb(136, 136, 136);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

.menu-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 129px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-item {
  color: rgb(136, 136, 136);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

/*Блок с подпиской на новости*/
.subscription {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 260px;
}
.subscription__email {
  height: 40px;
  width: 100%;
  color: rgb(196, 196, 196);
}
.subscription__caption {
  text-wrap: none;
}
.subscription__button {
  width: 100%;
  height: 40px;
  border: 0px;
}

.socials {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.social-icon path {
  fill: black;
}

.item-image path {
  fill: red;
  background-color: blue;
}

.item-image:hover path {
  fill: black;
}

/*#endregion*/
/*#region product */
/* #endregion */
/* форматирования для планшета*/
/*#region table-version*/
@media ((max-width: 1200px) and (min-width: 786px)) {
  .center, .top__header {
    padding-left: calc(50% - 392.5px);
    padding-right: calc(50% - 392.5px);
  }
  .navbar-mobile {
    display: none;
  }
  .navbar {
    display: flex;
  }
  .footer-logo {
    display: none;
  }
  .product-list {
    /*display: flex;
             flex-wrap: wrap;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
/*#endregion */
/* форматирования для мобильного устройства*/
/*#region mobile-version */
@media (max-width: 785px) {
  .center, .top__header {
    padding-left: calc(50% - 171.5px);
    padding-right: calc(50% - 171.5px);
  }
  .product-image-spec {
    justify-content: center;
  }
  .header__navbar {
    padding: 10px 10px;
  }
  .navbar-mobile {
    display: flex;
    gap: 32px;
    padding-top: 32px;
  }
  .menu {
    gap: 15px;
  }
  .header__title {
    padding-top: 29px;
  }
  .navbar {
    display: none;
  }
  .title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .subtitle {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
  }
  .top-logo {
    height: 22px;
    width: 99px;
  }
  .footer-logo {
    display: none;
  }
  .product {
    max-width: 100%;
  }
  .product-list {
    /*display: flex;
                 flex-wrap: wrap;*/
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .header__catalog-ref {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration-line: underline;
    width: auto;
  }
  .content-caption {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
  }
  .content-caption {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
  }
  .bottom-link {
    padding-bottom: 32px;
  }
  .subscription {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    background: rgb(247, 246, 246);
  }
  .subscription__caption {
    font-size: 12px;
    font-weight: 400;
  }
}
/*#endregion*//*# sourceMappingURL=style.css.map */